Source: @component-prefix@@component-name@@component-suffix@
Section: contrib/misc
Priority: extra
Maintainer: Bernd Schuller <unicore-support@lists.sourceforge.net> 
Homepage: http://www.unicore.eu
@build_depends@

Package: @component-prefix@@component-name@@component-suffix@
Architecture: @component-architecture@
Depends: openjdk-@java-main-version@-jre
Description:UNICORE (Uniform Interface to Computing Resources) offers a 
 ready-to-run Grid system including client and server software.
 UNICORE makes distributed computing and data resources available
 in a seamless and secure way in intranets and the internet.
 .
 This package contains the standalone UFTP commandline client.


