Source: @component-prefix@@component-name@@component-suffix@
Section: contrib/misc
Priority: extra
Maintainer: Bernd Schuller <unicore-support@lists.sourceforge.net> 
Homepage: https://www.unicore.eu
@build_depends@

Package: @component-prefix@@component-name@@component-suffix@
Architecture: @component-architecture@
Depends: default-jre-headless
Description:UNICORE (UNiform Interface to COmputing REsources) provides
 tools and services for building federated systems, making
 high-performance computing and data resources accessible in a seamless and
 secure way for a wide variety of applications in intranets and the internet.
 .
 This package contains the standalone UFTP commandline client.
