Source: unicore-authserver
Section: contrib/misc
Priority: extra
Maintainer: Bernd Schuller <b.schuller@fz-juelich.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.unicore.eu

Package: unicore-authserver
Architecture: all
Depends: default-jre-headless
Description: UNICORE (UNiform Interface to COmputing REsources)
 makes distributed computing and data resources available
 in a seamless and secure way in intranets and the internet.
 .
 This package contains the UNICORE UFTP Authentication Server,
 which can be used to authenticate UFTP transfers using via its
 RESTful APIs.
